<%- include('partials/_header'); -%>

<div class="container">
    <div class="row">
        <!-- FORM -->
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= task._id%>" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Insert a title" class="form-control" value="<%= task.title %>" style="margin-bottom: 5px;">
                        </div>
                        <div class="form-group">
                            <textarea name="description" cols="80" class="form-control" placeholder="Insert a 
                            description"><%= task.description %> </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10px;">
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer'); -%>
