<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> CRUD NodeJs - Mongodb</title>
        <!--Bootstrap 5 CDN-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <a href="/" class="navbar-brand">CRUD Node Js- Mongodb</a>
        </nav>